<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/dist/css/vendor.css">
</head>
<body>
  <div id="app" style="height: 100%"></div>
  <script src="/dist/js/vendor.js"></script>
  <script src="/dist/js/work.js"></script>
</body>
</html>